<div>
	<div class="row mt-2">
		<div class="col-8">
			<h5 class="mb-0">Account Overview</h5>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-9">
			<% if @current_account %> 
				<h6><%= @current_account[:account_name] %></h6><p data-toggle="modal" data-target="#editAccountModal">edit</p>
				<h4>$<%= @current_account[:principal] %></h4>
				<p>Repayment in <%= @current_account.num_months %> months</p>
			<% end %>
		</div>
		<div id="show_hide_payments" class="col-2">
			<% if @current_account.paid_payments.count === 0 %>
				<h6 hidden onclick="showPaidPayments()">show paid</h6>
			<% else %>
				<h6 onclick="showPaidPayments()">show paid</h6>				
			<% end %>
		</div>
	</div>
</div>
<thead class="thead-light">
	<tr align="center">
		<th scope="col">Due Date</th>
		<th scope="col">Payment</th>
		<th scope="col">Balance</th>
		<th></th>
	</tr>
</thead>

<tbody id="paid_table" class="d-none paid_payments">
	<% if @current_account.paid_payments.all %>
		<% @current_account.paid_payments.each do |p| %>
			<tr id="<%= p.id %>" class="table__row" style="background-color: #d1d1d1; transform: none;">
				<td class="table__month"><%= p.month.strftime('%b - %y') %></td>
				<td>$<span class="table__payment"><%= '%.2f' % p.payment %></span></td>
			</tr>
		<% end %>
	<% end %>
</tbody>
<tbody id="table">
	<% @current_account.payments.each do |p| %>
		<tr id="<%= p.id %>" class="table__row active payments">
			<td class="table__month"><%= p.month.strftime('%b - %y') %><br><%= @current_account.due_date %></td>
			<td>$<span class="table__payment"><%= '%.2f' % p.payment %></span></td>
			<td class="table__balance"><%= '%.2f' % p.balance %></td>
			<!-- <td class="icon"><ion-icon class="close__button" name="close"></ion-icon></td> -->
			<td><h6 id="edit_payment" style="font-size: .75rem;" data-target="#editPayment" data-payment-id="<%= p.id %>">edit</h6></td>
		</tr>
	<% end %>
</tbody>

<!-- Modal -->
<%= erb(:'payments/_edit') %>
