<div class="container-fluid px-0">
	<%= erb(:'header/jumbotron') %>
 </div>

<div class="container-fluid">
	<%= erb(:'splash/flash') %>

	<div id="accounts-section" class="row">
		<div id="account_list" class="shadow p-3 mb-5 bg-white rounded col">
			<div class="row mt-2 mb-0">
				<div class="col">
					<h5 class="mb-0">Accounts</h5>
					<hr>
					<% if $accounts %>
						<%= erb(:accounts) %>
					<% end %>
				</div>
				<!-- Button trigger modal -->
				<div>
					<h6 id="account" class="m-0 px-4" style="font-size: .75rem;" data-toggle="modal" data-target="#newAccount">Add Account</h6>
				</div>
			</div>

			<!-- Modal -->
			<%= erb(:'accounts/_new') %>

			<%= erb(:'accounts/_edit') %>
		</div>
		

		<div id="table_section" class="col-9 table-responsive mx-2 shadow p-3 mb-5 bg-white rounded">
			<table class="table table-hover table-striped table-sm">
				<% if @current_account %>
					<%= erb(:'accounts/_edit') %>
					<%= erb(:account) %>
				<% end %>	
			</table>
		</div>

		<!-- 
			<div class="show-more">
					<ion-icon name="arrow-dropdown"></ion-icon>
			</div> 
		-->
	</div>
</div>