<div class="container-fluid px-0">
	<div class="jumbotron text-white-50">
		<div class="row justify-content-end">
		<div id="show_info" class="col-5">
			<div id="personal__info" class="d-none">
				<%= erb(:personal_info) %>
			</div>
		</div>
		<% if !warden_handler.authenticated? %>>
			
		<% else %>
			<div class="col-1">
				<span id="info__button" style="font-size: 1.5rem;"><i class="fas fa-user-cog"></i></span></ion-icon>
				<p><%= current_user.user_name %></p>
				<a href="/logout"> Logout </a>
			</div>

		<% end %>
		</div>

	  <h1 class="display-4">Debt Calculator</h1>
	  <hr class="my-4">
	  <div class="row text-center">
		  <div class="col-md"><p class="lead">
		  	<div id="total_accounts" class="main-dashboard rounded active">
			  	<span style="font-size: 3rem;"><i class="far fa-credit-card"></i></span><br>
			  	<h4><strong>Accounts</strong></h4></p>
					<div class="col-md"><h5><%= $total_accounts %></h5></div>
				</div>
		  </div>
			<div class="col-md"><p class="lead">
				<div id="total_debt" class="main-dashboard rounded">
					<span style="font-size: 3rem;"><i class="fas fa-dollar-sign"></i></span><br>
					<h4><strong>Total Debt</strong></h4></p>
					<% if $total_debt %>
					<div class="col-md"><h5>$<%= '%.2f' % $total_debt %></h5></div>
					<% end %> 
				</div>
			</div>
		  <div class="col-md"><p class="lead">
		  	<div id="monthly_budget" class="main-dashboard rounded">
			  	<span style="font-size: 3rem;"><i class="fas fa-piggy-bank"></i></span><br>
			  	<h4><strong>Monthly Budget</strong></h4></p>
			  	<% if $monthly_budget %>
			  	<div id="monthly__payment" class="col-md"><h5>$<%= '%.2f' % $monthly_budget %></h5></div>
			  	<% end %>
			  </div>
		  </div>
		</div>
	</div>
 </div>

<div class="container-fluid">
	<% flash.keys.each do |type| %>
		<div data-alert class="alert alert-<%= type %>">
		  <%= flash[type] %>
		</div>
	<% end %>
	<div id="accounts-section" class="row">
		<div id="account_list" class="shadow p-3 mb-5 bg-white rounded col mx-2">
			<div class="row mt-2 mb-0">
				<div class="col">
					<h5 class="mb-0">Accounts</h5>
				</div>
				<!-- Button trigger modal -->
				<div>
					<h6 id="account" class="m-0 px-4" style="font-size: .75rem;" data-toggle="modal" data-target="#newAccount">Add Account</h6>
				</div>
			</div>

			<hr>
			<% if $accounts %>
				<%= erb(:accounts) %>
			<% end %>

			<!-- Modal -->
			<%= erb(:'accounts/_new') %>

			<%= erb(:'accounts/_edit') %>
		</div>
		

		<div id="table_section" class="col-9 table-responsive mx-2 shadow p-3 mb-5 bg-white rounded">
			<table class="table table-hover table-striped table-sm">
				<% if @current_account %>
					<%= erb(:'accounts/_edit') %>
					<%= erb(:account) %>
				<% end %>	
			</table>
		</div>

		<!-- 
			<div class="show-more">
					<ion-icon name="arrow-dropdown"></ion-icon>
			</div> 
		-->
	</div>
</div>